

  <body>
    <div id="loader_bg">
      <div id="loader">
        
      </div>
    </div>
    <div id="info-section">
      <div id="contact">
        <div id="email">
          <img src="/ICONS/EmailReal.png" alt="Email" />
         <a href="mailto:sparky58pubg@gmail.com? subject=Learn about MailTo tags in HTML"> <p>pet-adoption@gmail.com</p></a>
        </div>
        <div id="phone">
          <img src="/ICONS/Phone.png" alt="Phone" />
          <p>+91 0123456789</p>
        </div>
      </div>
      <div id="social">
        <div id="facebook">
          <a href="https://www.facebook.com/profile.php?id=100077960493601"><img src="/ICONS/Facebook.png" alt="Facebook" /></a>
        </div>
        <div id="instagram">
         <a href="https://www.instagram.com/stra.yhelper/"><img src="/ICONS/Instagram-icon-WHITE.png" alt="Instagram" /></a>
        </div>
      </div>
    </div>
    <nav>
      <div class="logo ">
        <h1>StrayHelper</h1>
        <div class="list hidden">
          <a href="/">Home</a>
          <a href="/adopt">Adopt a Pet</a>
          <a href="/blog">Blog</a>
          <a href="/home#testimonials">Contact Us</a>
          <a href="/submit">Submit Pet</a>
          <a href="/shelters">Shelters</a>
         
        </div>
        <div class="button">
            <button class="btn"><a href="/login">Login</a></button>
            <button class="btn"><a href="/register">Sign Up</a></button>
          </div>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div
        id="shape"
        data-background="/BG/header_shape.png"
        style="background-image: url('/BG/header_shape.png')"
      ></div>
    </nav>

    <section id="bg">
      <div id="quote" data-aos="fade-down">
        <h1>Pets are not our whole life, but they make our life whole</h1>
        <p>
          Money can buy you a fine dog, but only love can make him wag his tail    Pet is one of being on earth that loves you more than you love yourself
        </p>
        <a href="/adopt" id="adopt-now" style="text-align: center;">Adopt Now</a>
      </div>
    </section>
    </body>
    <script>
     
    </script>
    </html>