<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/CSS/blog.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/ICONS/Icon.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" media="screen and (max-width:1307px)" href="/CSS/Phone/phone-home.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 900px)" href="/phone.css" /> -->
    <title>Blog Page</title>
  </head>
<body>
    <%-include('partials/header-without')%>
    <section id="blog">
      <div>
        <h2>Our motive:</h2>
        <p>
          In today's world, people are suffering from a lot of health issues in
          which mainly there are facing mental health issues due to tension,
          loneliness, lack of work-life balance. So to avoid loneliness, pets
          are often plays important role in our life. Pets are a source of
          happiness due to the pets we get relief from our daily tensions and
          pressures. Pets are innocent like newborn babies. So pets play a vital
          role in our life. In our country, we found a lot of stray animals.
          These animals need human care and humans need these animals’ innocent
          love.</p>
          <h3>Use of our website:</h3>
          <p>Providing home and shelter to
          stray animals. We have developed a responsive website that can provide
          home and shelter to stray animals. From this website, people can get
          information about stray animals across different locations. So that
          people who are interested to adopt a pet can easily adopt it. On this
          website, we have provided detailed information about pets. This
          website is also helpful for people who have found any stray animals on
          the road, so they can take pictures of stray animals and can upload
          them over the website. We have also provided a feature of mail so that
          interested people can get notifications. Also, we have added a new feature
          regarding shelter contact. The website contains information about the pet
          shelters so in case no one is available to adopt the animal shelter
          will take care of it. So in this way, our website will try to save
          stray animals.
        </p>
        <h2>Animal Welfare:</h2>
        <p>There has been an intensive change within the use of animals as
          agricultural and meal sources to organic test tubes for comparing
          scientific postulates, comparison of healing compounds, and gaining
          knowledge to health processes.</p> 
          <h3>Sudden increase in population:</h3>
          <p>The population of stray animals has
          increased extremely in these few years because of increased human
          population and bad waste management systems i.e. keeping the garbage
          exposed for the strays. Thus we need a good system which will help us
          stabilize the increasing population of strays.</p>
       <h3>Definition of Stray:</h3>
          <p> The issues faced by
          stray animals can be understood with a proper definition of
          stray. Which is ‘The one which is lost and lonely but is domesticated
          and not wild.’</p>
          <h3>Problems because of increased population:</h3> 
          <p>Large populations of stray pups and kittens are human
          health concerns. Leptospirosis, cat scratch fever are the dangers for
          population dwelling in regions of massive stray numbers. The
          disturbances caused due to street dogs barking as for their
          territorial fights creates a hassle for the local citizens. Stray dogs
          and cats typically have a mess of fitness and welfare issues.
          Moreover, those stray animals pose dangers to the contribution of the
          community, along with zoonosis, environmental infection and
          interruption to monetary activities.</p>
          <h3>Health of Stray animals:</h3>
          <p>Stray cats and dogs reveal health
          issues, mainly worse while overpopulation occurs. Because of
          restrictions in availability of resources, maximum strays are left to
          depend upon scavenging for survival, and maximum are visible consuming
          the meals humans throw away. This caused severe health issues among
          them, and these problems/diseases are easily transferred among the
          animals as there is excess population. They face other problems like
          abuse, homelessness, starvation, ill treatment from cruel people, they
          may fall prey to predators, and many more.</p>
          <h3>Our Solution:</h3>
          <p> Thus the adoption processes
          should include an examination and approach which includes the strays
          whole family. Animal shelters will actively contact the new families
          of the strays at various times to see what medical or behavioral
          problems and address these issues in order ot keep the animals in
          their new home.</p> 
          <p>We will provide all the resources to do so. Eg. Using
          email surveys is a cost effective method that requires minimal
          staff/volunteers. The paper at last will propose answers for
          controlling the population of stray cats and dogs. The answers have
          been well reviewed and are probably beneficial in casting off the
          trouble of their growing population.
        </p>
        <p style="margin-top:20px"></p>Thank you for you're precious time and fill the newsletter to keep getting updates from us!
            :)</p>
        </p>
      </div>
    </section>
 <%-include('partials/footer')%>

     
   