.burger{
    display: block;
}
*{
    
}
#bg::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -1px;
    width: 101%;
    height: 101%;
    background-color: black;
    opacity: 0.5;
    /* z-index: -1; */
}
#quote{
    width: 100%;
   

}
#quote h1{
    text-align: center;
    color: white;
    font-size: 120%;
    z-index: 2;
    opacity: 0.8;
   
}
#quote p{
    text-align: center;
    color: white;
    line-height: 25px;
    font-size: 80%;
    z-index: 2;
    opacity: 0.8;
}
#adopt-now{
    text-align: center;
    font-size: 80%;
    width: 30%;
    margin: 0px auto;
    padding: 2%;
    z-index: 2;

}
#footer-contact div p{
    font-size: 57%;
}
#footer-contact h3{
    font-size: 80%;
}
#footer-weblinks h3{
    font-size: 80%;

}
#footer-weblinks ul li a{
    font-size: 90%;
}
#footer div h2{
    font-size: 106%;
}
#footer-intro h2+p{
    font-size: 80%;
}


#footer-weblinks{
    width: 40%;
    padding-left: 0px;
}
#footer-contact{
    width: 40%;
}
#footer-intro,#footer-contact{
    padding-left: 0px;
}
#footer-intro{
    display: none;
}
#footer-phone img, #footer-location img, #footer-email img{
    margin-right:10px ;
    height: 1em;
    width: 1em;
}
#newsletter-email{
    width: 18%;
    width: 95%;
}
#newsletter-email img{
    width: 3em;
    height: 3em;
    filter: invert(100%);
    margin: 0px 15px;
    
}

#newsletter input{
    padding: 15px;
    font-size: 80%;
}
#newsletter button {
    padding: 17px 10px;
    text-align: center;
    font-size: 60%;
    width: 20%;
}
#cards{
    height: 40vw;
    width: 35vw;
    display: flex;
    flex-wrap:wrap;
}
#gallery{
    height: auto;
}
.back p{
    font-size: 90%;
}
.back button{
    width: 40%;
font-size: 10px;
}
#testimonials p{
    text-align:justify;
    font-size: 90%;
}
#change-testimonial{
    width: 90%;
}
#contact-us input{
    width: 76%;
    max-width: 400px;
}
#contact-us textarea{
    width: 76%;
    max-width: 400px;
}
#submit-btn{
    width: 60%;
    max-width: 200px;
}
#gallery-h1{
    font-size: 150%;
}
#newsletter h1{
    font-size: 150%;
}
#testimonials h1{
    font-size: 150%;
}
#mission h1,#vision h1{
    font-size: 150%;
}
h1{
    font-size: 150%;
}
#change-testimonial img{
    height: 1.5em;
    width: 1.5em;
}
#mission,#vision{
    padding: 10px 8px;
   width: 40%;
   max-height: auto;
   text-align: left;
   line-height: 15px;
font-size: 13px;

}
#mission p{
    font-size: 75%;
}
#vision p{
    font-size: 75%;
}
#dogs-adopted img, #cats-adopted img, #shelters img{
    height: 5em;
    width: 5em;
}
#dog-counter, #cat-counter, #shelter-counter{
    font-size: 200%;
}
/* h2{
    font-size: 110%;
} */

#shelter-h2{
    font-size: 110%;
    text-align: center;
}

.logo  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;

}
.list a{
    margin-bottom: 15px;
}
.button{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
   
}
.btn{
    margin-right: 0px;
    font-size: 20px;

}
#bg{
    height: 50vh;
}
.hidden{
    display: none;
}
#footer-weblinks ul li img{
    height: 1em;
    width: 1em;
    margin-right: 5px;
}
footer p{
    font-size: 80%;
}
#contact,#social p{
    font-size: 12px;

}
#form{
   
   flex-direction: column;
   
}
input[type="file"]+label{
    width: 78%;
    max-width: 150px;
}
#img p{
    font-size: 124%;
}
#img{
   
    width: 85vw;
    height: 100vw;
    max-height: 450px;
    margin: 50px auto;
}
#form h1{
    font-size: 131%;
    margin-left:10px ;
}
#submit{
    width: 100%;
}
#form input[type="text"], input[type="email"]{
    width: 64%;
    
}
#form input[type="text"]+label, input[type="email"]+label{
    left: -63%;
    font-size: 13px;
}
#form input[type="text"]:focus + label,input[type="email"]:focus+label{
    font-size: 13px;
    bottom: 22px;
}
#animals{
    flex-wrap: wrap;
}
#pet1{
    max-height: 310px;
    width: 81%;
    max-width: 350px;
    margin: 100px 14px;
}